/*Nav Bar styles*/
a.active {
	color: #343a40;
}
.navHome:hover {
	text-decoration: none;
}
.nav-item.inactive {
	color: white;
}
.nav-item.inactive:hover {
	text-decoration: underline;
}

/* formatting for footer*/
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 100px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;

	background-color: #f5f5f5;
}

/*changes form field glow color to teal (info color)*/
.form-control:focus {
	border-color: #17a2b8;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 162, 184, 0.6);
}

legend {
	text-align: center;
	background-color: #17a2b8;
}
